{% extends "base.html" %}
{% block slides %}
<div class="row" style="min-height:100vh;">
<div class="col-md-10 col-md-offset-1 text-center" style="padding-top:10vh; font-weight:300">
<h2>Presentation</h2>
<!--
<iframe src="https://www.slideshare.net/slideshow/embed_code/key/Jv66JWzdXnIaHL" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/jpanduranga/techklout" title="TechKlout" target="_blank">TechKlout</a> </strong> from <strong><a href="http://www.slideshare.net/jpanduranga" target="_blank">jpanduranga</a></strong> </div>
-->
<iframe src="https://www.slideshare.net/slideshow/embed_code/key/6FqXSFKCQedYA" width="600" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/jpanduranga/tech-klout-53479621" title="Tech klout" target="_blank">Tech klout</a> </strong> from <strong><a href="http://www.slideshare.net/jpanduranga" target="_blank">jpanduranga</a></strong> </div>
</div>
</div>
{% endblock %}
